<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href="/stylesheets/AdminHomePage.css">
</head>
<body>

<ul>
    <li><a href="#">Disable User</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Update Question</a>
        <div class="dropdown-content">
            <% result.forEach(function(subjects){ %>
                <a class="<%= subjects %>" href="#"><%= subjects %></a>
            <% });%>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Add Question</a>
        <div class="dropdown-content">
            <% result.forEach(function(subjects){ %>
                <a class="<%= subjects %>" href="#"><%= subjects %></a>
            <% });%>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Remove Question</a>
        <div class="dropdown-content">
            <% result.forEach(function(subjects){ %>
                <a class="<%= subjects %>" href="#"><%= subjects %></a>
            <% });%>
        </div>
    </li>
</ul>

<h3> <%= title %> </h3>
<p>Welcome Admin</p>

</body>
</html>